$maincolor:#ffc107;
$mainfont: 'Alegreya', serif;
$pfont: 'BioRhyme';
$nfont:'Tahoma';

* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
     box-sizing: border-box;

 }


ul{
   list-style: none;
    margin: 0 !important;
    padding: 0;
}
.first-sec{
    text-transform: capitalize;
    .navbar-toggler{
    display: none;
}
.brand{
    display: flex;
    margin-top: 8px;
    h2{
        font-size: 34px;
        font-weight: bold;
        font-family: $mainfont;
    }
    i{
        margin-top: -6px;
        margin-left: 15px;
        color: $maincolor;
    }
}
.navbar.collapse{
  display: flex;
   align-items: center;  
}
.navbar-toggler{
    
    margin-left: auto;
    margin-right: 10px;
    i{
       color: #89928f; 
    }
}
.navbtns{
   display: flex;
   align-items: center;
    li{
        margin: 0 5px;
    }
}

}
// start home 
.home{
    position: relative;
    min-height: 400px;
    height: 80vh;
    .scroll{
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
       bottom: -55%;
       left: -35px;
        transform: rotate(-90deg);
        .line{
            height: 2px;
            width: 40px;
            background-color: $maincolor;
            margin-right: 10px;
        }
        .line:before{
              position: absolute;
              bottom: 8px;
              left: 0;
               background-color: $maincolor;
               width: 8px;
               height: 2px;
               transform: rotate(45deg);
               content: '';
        }
        .line:after{
              position: absolute;
              bottom: 14px;
              left: 0;
               background-color: $maincolor;
               width: 8px;
               height: 2px;
               transform: rotate(-45deg);
               content: '';
        }
    }
    .bg{
        position: relative;
        min-height: 400px;
        float: right;
        background: url("../images/hotel-1.jpg");
        width: 80%;
        height: 80vh;
        .overlay{
            height: 100%;
            width: 100%;
            background-color: rgba(50, 180, 180, .4);
        }
    }
    .search{
        position: absolute;
        top: 80px;
        width: 480px;
        h2{
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 30px;
        } 
        .formsearch{
            position: relative;
            i{
                position: absolute;
                left: 10px;
                opacity: .5;
            }
            input{
                padding-left: 30px;
                width: 80%;
                border: none;
                margin: 0 !important;
                border-radius: 0;
                
            }
            input:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            span{
                margin: 0;
                border-radius: 0;
                padding: 7px 22px ;
                border: none;

            }   
            span:hover{
                background-color:$maincolor;
                border: none;
            } 
        }   
    }
    .call{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 46%;
        height: 50px;
        position: absolute;
        background-color:$maincolor ;
        bottom: 0;
        right: 0;
        .phone, .location{
            font-weight: bold;
            flex: auto;
            text-align: center;
            i{
                color: white;
            }
        }
    }
}
// end home
//start stats
.stats{
    margin-top: 60px;
    .company-stats{
        padding-right: 40px;
        color: #121212;
        font-family: $nfont;
        h2{
            font-weight: bold;
            width: 40%;
            margin-bottom: 30px;
            font-size: 30px;
            font-family: $nfont;
        }
        p{
            font-size:14px;
        }
    }
    .statistics{
            display: flex;
            align-items: stretch;
            justify-content: center;
            .col-6{
                padding-left: 0;
                padding-right: 0;
            }
        .state{
           width: 90%;
    height: 90%;
    text-align: center;
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 10px;
         h3{
             padding-top: 30%;
             font-weight: bold;
             color: $maincolor;
             font-family: $mainfont;
         }
         p{
             font-family: $pfont;
             letter-spacing: -1px;
         }
        }
    }
}
//end stats
//start houses
.houses{
    background-color: #f3f3f3;
    margin-top: 40px;
    h2{
        padding-top: 40px;
        margin-bottom: 40px;
        font-size: 32px;
        width: 35%;
        font-family: $pfont;
    }
    .samples{
        .card{
            width: 302px;
            margin-bottom: 20px;
            cursor: pointer;
            img{
                width: 300px;
                height: 350px;
            }
            .card-body{
               h3{
                   font-size: 15px;
                   font-family: $nfont;
                   font-weight: bold;
               }
               .h-details{
                   display: flex;
                   justify-content: space-between;
                   .cost{
                       color: $maincolor;
                       font-weight: bold;
                   }
                   .beds span:first-of-type{
                       padding-right: 15px;
                   }
                   .beds i:last-of-type{
                     padding-left: 10px;
                   }
               }
            }
        }
    }
    // start search
    .all{
     padding-bottom: 60px;
     .search{
        
        button{
            border-radius: 0;
            padding: 14px 30px;
            border: none;
       }
        .formsearch{
            position: relative;
           display: inline-block;
           i{
              position: absolute;
                left: 22px;
                top: 37%;
                opacity: .5; 
           }
            input{
                padding-left: 35px;
                width: 70%;
                border: none;
                margin: 0 !important;
                border-radius: 0;
                height: calc(1.5em + .75rem + 16px);
                
            }
            input:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            span{
                margin-left: -4px;
                border-radius: 0;
                padding: 14px 30px;
                border: none;

            }   
            span:hover{
                background-color:$maincolor;
                border: none;
            } 
        }   
}
}}
// end houses
//start works
.works{
    margin-top: 40px;
    padding-bottom: 40px;
    h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: $nfont;
    }
    p{
        width: 40%;
        margin-bottom: 30px;
        font-family: $pfont;
    }
    .row {
        .card{
            transition: all ease-in-out .3s;
            color: #100c44;
            position: relative;
            overflow: hidden;
           box-shadow: 6px 8px 20px -2px #222;
            .card-body{
                h2{
                    font-size: 120px;
                    position: absolute;
                    top: -59px;
                    left: -28px;
                }
                h4{
                    margin-top: 90px;
                    font-family: $nfont;
                    font-weight: bold;

                }
                p{
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
                button{
                     transition: all ease-in-out .3s;
                    color: #100c44;
                    background-color: white;
                    border: none;
                    border-bottom: 1px solid#100c44;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            &:hover {
            color: white;
            background-color: $maincolor;
        } &:hover button{
             color: white;
                    background-color: $maincolor;
                    border: none;
                    border-bottom: 1px solid#fff;
        }
        }
        
    }
}
//end works
//start service
.service{
    margin-top: 40px;
    h2{
        font-weight: bold;
        font-size: 32px;
        font-family: $nfont;
    }
    p{
        width: 40%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .row{
        .ourservice{
            .phase{
                h4{
                    font-size: 24px;
                    font-family: $nfont;
                    font-weight: bold;
                }
                p{
                    width: 100%;
                    font-family: $pfont;

                }
            }
        }
    }
}
//end service
//start agents
.agents{
    background-color: #f3f3f3;
    padding-top: 40px;
    padding-bottom: 40px;
    h2{
        font-weight: bold;
        font-size: 32px;
        font-family: $nfont;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    p{
        font-family: $pfont;
        width: 40%;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .row{
        .card{
            .card-body{
                padding-top: 0;
                h3{
                    font-weight: bold;
                    margin-top: 0;

                }
                .h-details{
                    display: flex;
                    justify-content: space-between;
                    .name{
                        color: $maincolor;
                        font-weight: bold;
                        font-family: $pfont;
                    }
                    .beds{
                        i{
                            cursor: pointer;
                            padding-left: 10px;
                        }
                        .fa-facebook:hover{
                           color:#3b5998 ;
                        }
                        .fa-twitter:hover{
                            color: #1da1f2;
                        }
                        .fa-instagram:hover{
                            color: #f77737;
                        }
                    }
                }
            }
        }
    }

}
//end agents
//start rooms
.rooms{
    padding-bottom: 60px;
    .room{
        margin-top: 60px;
        
        .room-pic{
           position: relative;
           
           .location{
               position: absolute;
               bottom: -16px;
               left: 23%;
               background-color: $maincolor;
               padding: 8px 30px;
               border-radius: 6px;
               color: white;
               font-family: $mainfont;
               i{
                   padding-right: 10px;
               }
           }
        }
        .info{
            margin-top: 50px;
            h2{
                margin-bottom: 40px;
                font-family: $nfont;
                font-weight: bold;
                font-size: 22px;

            }
            p{
                padding-left: 40px;
                width: 90%;
                font-family: $pfont;
            }
            
        }
    }
    .showmore{
                margin-left: 60%;
                background-color: #1F373D;
                color: white;
                padding: 15px 25px;
                cursor: pointer;
            }
}
//end rooms
/* start footer*/
.footer {
    background-color: #1f373d;
    overflow: hidden;
    .topsec{
        display: flex;
        justify-content: space-between;
        align-items: center;
         margin-top: 40px;
          margin-bottom: 30px;
         h2{
             margin-left: 50px;
        letter-spacing: 1.5px;
        color:white;
        font-size: 40px;
        font-family: $nfont;
    }
    .srchform{
        width: 35%;
        position: relative;
        i{
            color: #1f373d;
            font-size: 25px;
            position: absolute;
            right: 4%;
            top: 32%;
            cursor: pointer;
            
        }
        input{
            height: 60px;
            width: 100%;
            padding-right: 60px;
            border: none;
            border-radius: 0;
            font-size: 15px;
        }
        input:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
    }
    }
    hr{
        background-color: #8290a2;
    }
   .botsec{
       margin-top: 40px;
       color: white;
       h2{
        margin-bottom: 50px;
        font-size: 25px;
       }
       h4{
           color: #919eb1;
           font-size: 13px;
           margin-bottom: 30px;
           font-family: $nfont;
           text-transform: uppercase;
           
       }
       h6{
           color: #f0f2f2;
           margin-bottom: 20px;
           font-family: $pfont;
           font-size: 13px;
       }
   }
   
}
/* end footer*/
/* start scroll btn*/
.scrollbtn{
   z-index: -1;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 3%;
    background-color: $maincolor;
    border-radius: 50%;
    height: 50px;
    width: 50px;
   line-height: 50px;
   text-align: center;
   opacity: 0;
   transition:all 1s ease-in-out;
    i{
        color: white;
        font-weight: 900;
        font-size: 20px;
    }
}